In [1]:
from hossam import load_data
from pandas import DataFrame
from matplotlib import pyplot as plt
from matplotlib import font_manager as fm
import seaborn as sb
import numpy as np

from sklearn.cluster import KMeans
from scipy.spatial import ConvexHull

from kneed import KneeLocator

from sklearn.metrics import silhouette_samples, silhouette_score
from scipy.stats import normaltest
from matplotlib import cm

my_dpi=200

In [2]:
origin=load_data('iris')
print('\n===== 데이터 크기 확인 =====')
print(f'데이터셋 크기 : {origin.shape}')
print(f'행 개수 : {origin.shape[0]}개')
print(f'열 개수 : {origin.shape[1]}개')
print('\n===== 타입 확인 =====')
print(origin.info())
origin.head()

1936년 영국의 통계학자 로널드 피셔(Ronald A. Fisher)가 소개한 3가지 품종(setosa, versicolor, virginica)의 붓꽃(Iris)에 대한 꽃받침과 꽃잎의 길이와 너비 측정값으로 구성된 유명한 머신러닝 및 데이터 분석용 데이터셋.(출처: Kaggle)

field         description
------------  -------------
Sepal.Length  꽃밭침 길이
Sepal.Width   꽃밭침 너비
Petal.Length  꽃잎 길이
Petal.Width   꽃잎 너비
Species       품종


===== 데이터 크기 확인 =====
데이터셋 크기 : (150, 5)
행 개수 : 150개
열 개수 : 5개

===== 타입 확인 =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df=origin.drop('Species', axis=1)
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
best_k=4

In [5]:
estimator=KMeans(n_clusters=best_k)
estimator.fit(df)
cluster=estimator.predict(df)
cluster

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 2, 2, 2, 1, 2, 1,
       2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 1, 1, 2,
       2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 1, 3, 1, 3, 3, 2, 3, 3, 3,
       1, 1, 3, 1, 1, 1, 1, 3, 3, 1, 3, 1, 3, 1, 3, 3, 1, 1, 1, 3, 3, 3,
       1, 1, 1, 3, 3, 1, 1, 3, 3, 1, 1, 3, 3, 1, 1, 1, 1, 1], dtype=int32)

In [6]:
s_samples=silhouette_samples(X=df, labels=cluster)
s_samples

array([0.82983811, 0.78308343, 0.80107439, 0.77023104, 0.8260145 ,
       0.71142073, 0.79219252, 0.82949354, 0.7085028 , 0.79450277,
       0.77415413, 0.80746068, 0.77762018, 0.7061819 , 0.66838385,
       0.60531333, 0.74581637, 0.82739004, 0.66554987, 0.79339577,
       0.7475919 , 0.79884782, 0.76372127, 0.75569427, 0.73246417,
       0.76100725, 0.8042103 , 0.81672465, 0.81872101, 0.78485776,
       0.78105687, 0.76630148, 0.73141653, 0.68901157, 0.79819574,
       0.80557242, 0.76437216, 0.81754864, 0.72946133, 0.82551057,
       0.82602818, 0.57429012, 0.75154466, 0.76570033, 0.70471043,
       0.77593987, 0.78499716, 0.78821582, 0.79108004, 0.82757618,
       0.36930998, 0.33259562, 0.37965664, 0.55672231, 0.39203344,
       0.26490975, 0.42417741, 0.50114303, 0.35308837, 0.55611645,
       0.50398209, 0.24742993, 0.42701532, 0.28706896, 0.54627631,
       0.30508872, 0.17465733, 0.51814451, 0.02575921, 0.61079519,
       0.37162112, 0.35664328, 0.41023004, 0.15681863, 0.06789171,
       0.28486568, 0.4474085 , 0.43847365, 0.07362822, 0.56322201,
       0.60893628, 0.5993385 , 0.56631233, 0.45682638, 0.24790333,
       0.18453555, 0.46404962, 0.01492038, 0.49157688, 0.5919308 ,
       0.4466517 , 0.22122167, 0.55743615, 0.52477492, 0.52765988,
       0.44417156, 0.46593306, 0.045416  , 0.39918746, 0.53203354,
       0.24805669, 0.42081587, 0.48443338, 0.23035196, 0.20464819,
       0.52768467, 0.28471746, 0.49626609, 0.06835241, 0.48680798,
       0.36955993, 0.39456883, 0.13726943, 0.30708399, 0.39506846,
       0.16246386, 0.19060827, 0.4670542 , 0.45379915, 0.24448526,
       0.40132604, 0.27100826, 0.49037045, 0.52690927, 0.28134506,
       0.47000978, 0.4897503 , 0.50955477, 0.08185645, 0.32227787,
       0.48488462, 0.44807368, 0.03896598, 0.52626839, 0.33824822,
       0.50898961, 0.04477456, 0.2265393 , 0.43174753, 0.120724  ,
       0.25464007, 0.05047198, 0.42081587, 0.44499108, 0.32814769,
       0.11127112, 0.49794101, 0.35965442, 0.13322504, 0.47699092])

In [7]:
s_score=silhouette_score(X=df, labels=cluster)
s_score

0.49535632852885064

⭐함수 어떻게든 긁어오기⭐